<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <title>Jeu de Morpion - BAUDOIN EYER MANGIN</title>
</head>
<body>
<div class="container">
    <h1>Jeu de Morpion</h1>
    <div class="message"><%= message %></div>

    <form action="/move" method="POST">
        <table>
            <% for(let row=0; row<3; row++) { %>
                <tr>
                    <% for(let col=0; col<3; col++) {
                        const idx = row * 3 + col;
                        const cell = board[idx];
                    %>
                    <td>
                        <% if (cell === '') { %>
                            <!-- Bouton radio pour choisir la case -->
                            <label>
                                <input type="radio" name="move" value="<%= idx %>" required>
                                <span>&nbsp;</span>
                            </label>
                        <% } else { %>
                            <!-- X ou O selon la valeur de la case -->
                            <span>ttt<%= cell %></span>
                        <% } %>

                        <!-- Les valeurs du tableau sont stocké ainsi pour les redonner au back -->
                        <input type="hidden" name="cell<%= idx %>" value="<%= cell %>">
                    </td>
                    <% } %>
                </tr>
            <% } %>
        </table>

        <!-- Statut de la partie -->
        <% if (!gameOver) { %>
            <div>Joueur courant: <strong><%= currentPlayer %></strong></div>
            <br />
            <input type="hidden" name="currentPlayer" value="<%= currentPlayer %>">
            <input type="submit" value="Jouer ce coup" />
        <% } else { %>
            <div>Jeu terminé.</div>
            <br />
            <button type="button" onclick="window.location='/'">Recommencer</button>
        <% } %>
    </form>
</div>
</body>
</html>
